<mat-toolbar color="primary">
  <span>Asana タスク一括登録ツール</span>
</mat-toolbar>

<div class="content-wrapper">
  <h3>Personal Access Token</h3>

  <mat-form-field appearance="fill">
    <mat-label>Personal Access Token</mat-label>
    <input matInput placeholder="Personal Access Token" type="string" [formControl]="personalAccessTokenFormControl" (ngModelChange)="init()">
  </mat-form-field>

  <h3>登録先ボード</h3>
  <mat-form-field appearance="fill">
    <mat-label>ボード*</mat-label>
    <mat-select (selectionChange)="setProject($event)">
      <mat-option *ngFor="let project of asanaProjects" [value]="project.gid">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3>登録先セクション</h3>
  <mat-form-field appearance="fill">
    <mat-label>セクション*</mat-label>
    <mat-select (selectionChange)="setSection($event)">
      <mat-option *ngFor="let section of asanaSections" [value]="section.gid">
        {{section.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3>担当者</h3>
  <mat-form-field appearance="fill">
    <mat-label>担当者*</mat-label>
    <mat-select (selectionChange)="setTeamMember($event)">
      <mat-option *ngFor="let teamMember of asanaTeamMembers" [value]="teamMember.gid">
        {{teamMember.name}}
      </mat-option>
      <!-- <mat-option  [value]="">
        登録しない
      </mat-option> -->
    </mat-select>
  </mat-form-field>

  <h3>R-point</h3>
  <mat-form-field appearance="fill">
    <mat-label>R-point</mat-label>
    <input matInput placeholder="R-Point" type="number" [formControl]="rPoint">
  </mat-form-field>

  <h3>キーワード登録</h3>
  <div class="grid-container">
    <app-app-selected-list (changeSelected)="selectedList1 = $event"></app-app-selected-list>
    <app-app-selected-list (changeSelected)="selectedList2 = $event"></app-app-selected-list>
    <app-app-selected-list (changeSelected)="selectedList3 = $event"></app-app-selected-list>
    <app-app-selected-list (changeSelected)="selectedList4 = $event"></app-app-selected-list>
  </div>

  <h3>登録</h3>
  <button mat-flat-button color="primary" (click)="test()">確認</button>
  <br>
  <ng-container *ngIf="taskNames.length > 0">
    <mat-label>以下の項目で登録します。</mat-label>

    <mat-list dense>
        <mat-list-item *ngFor="let taskName of taskNames"> {{taskName}} </mat-list-item>
    </mat-list>
  </ng-container>

  <button *ngIf="showRegisterButton" [disabled]="rPoint.invalid" mat-flat-button color="accent" (click)="register()">登録</button>

</div>
